<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ date }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Max Temperature:</strong> {{ maxTemperature }}°C</p>
    <p><strong>Min Temperature:</strong> {{ minTemperature }}°C</p>
    <p><strong>Avg Temperature:</strong> {{ avgTemperature }}°C</p>
    <p><strong>Max Wind:</strong> {{ maxWind }} km/h</p>
    <p>
      <strong>Total Precipitation:</strong>
      {{ totalPrecipitation }}%
    </p>
    <p><strong>UV:</strong> {{ uv }}</p>
  </mat-card-content>
</mat-card>
